/* CSS Variables */
:root {
    --colorA: #ffffff;
    --colorB: #000000;
    
    /* Light Scheme */
    --color1: #cccccc;
    --color2: #8f8f8f;
    --color3: #3370cc;

    /* Dark Scheme */
    --colorI: #272727;
    --colorII: #5a5a5a;
    --colorII: #2c538d;

}

/* Color Schemes */

.light {
    --text: var(--colorB);
    --background: var(--color1);
}

.dark {
    --text: var(--colorA);
    --background: var(--colorI);
}

.light .icolinks {
    filter: invert(100%);
}

.dark .icolinks {
    filter: none;
}

/* Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    color: var(--text);
    background: var(--background);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    margin: 1em;
}

.head img {
    width: 50%;
}